[defaults]
# This is the main Ansible configuration file. It sets up how Ansible will run and where it will look for inventory and other settings. Also enables the EC2 plugin for dynamic inventory.
# Point to your dynamic inventory file
inventory = ./inventory/hosts.aws_ec2.yml
# Use the SSH key we'll inject in the pipeline
private_key_file = ~/.ssh/id_rsa
# Skip the "Are you sure you want to connect?" prompt
host_key_checking = False

[inventory]
# This line is CRITICAL: it enables the EC2 plugin
enable_plugins = auto, amazon.aws.aws_ec2